:root {
    --primary-color: #042d65;
    --secondary-color: #156082;
    --text-color: #FFFFFF;
}

* {
    font-family: 'Fira Code', monospace;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.banner {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: var(--primary-color);
}

.banner-section-left {
    display: flex;
    flex: 1;  
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    padding-left: 5%;  
}

.banner-section-right {
    display: flex;
    flex: 1;  
    justify-content: flex-end;  
    align-items: flex-end;  
    padding-right: 5%;  
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.menu-button {
    font-size: 16px;
    border-radius: 4px;
    background-color: var(--secondary-color);
    border: none;
    color: var(--text-color);
    text-align: center;
    padding: 7.5px 15px; 
    margin: 2.5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: auto;  
}

.menu-button:hover {
    background-color: black;
}

.page {
    display: none;
    padding: 20px;
}

.page:target {
    display: block;
}

#logo {
    max-width: 300px;
    max-height: 300px;
    height: auto;
}

#title {
    font-size: 56px;
    color: var(--text-color);
    margin-bottom: 10px;
    font-weight: 350;
    text-align: left;
}

#subtitle {
    font-size: 32px;
    color: var(--text-color);
    margin-top: 10px;
    font-style: italic;
    font-weight: 200;
    text-align: left;
}